body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header-box {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 1158px) {
  .header-box {
    max-width: 1158px;
  }
}
@media only screen and (min-width: 768px) {
  .header-box {
    max-width: 768px;
    height: 100%;
  }
}
@media only screen and (min-width: 1158px) {
  .header-box {
    height: 100%;
  }
}
.header-container {
  height: 56px;
  color: #2e2f42;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header-container {
    height: 72px;
    display: flex;
  align-items: center;

  }
}
@media only screen and (min-width: 1158px) {
  .header-container {
    height: 72px;
    padding: 24px 156px 24px 156px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 149px;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .header-logo {
    padding: 16px 72px 0 0;
    display: block;
    margin-right: 76px;
  }
}
.header-logo.logo-part {
  color: #2e2f42;
}
@media only screen and (min-width: 768px) {
.nav-st {
color: #404bbf;
}
  
}
.mobile-menu {
  padding: 0 0 0 0;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-aa-ab {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-ba-aa {
  margin-bottom: auto;
}

.mob-m-o-n-studio {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.mob-m-o-n-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 40px;
}

.mob-m-o-n-contacts {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 168px;
}

.mobile-ca-aa {

  margin-bottom: 48px;
}

.mob-adress-tel {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  font-style: normal;
  margin-bottom: 24px;
}

.mob-adress-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.mobile-aa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-aa.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media only screen and (min-width: 768px) {
  .mobile-aa {
    display: none;
  }
}

.mobile-aa-aa {
  position: relative;
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  max-height: 640px;
}
.ul-box {
  display: flex;
  align-items: center;
  gap: 40px;
}
.ul-box,
.adress-styl {
  display: none;
}
@media only screen and (min-width: 768px) {
  .ul-box,
  .adress-styl {
    display: inline-flex;
  }
}

.nav-punkt-st {
  display: block;
  padding: 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-punkt-st.current {
  position: relative;
}

.nav-punkt-st.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  margin-bottom: -24px;
}

@media only screen and (min-width: 768px) {
  .adress-styl {
    font-style: normal;
    display: block;
  }
  .nav-box {
    display: flex;
    align-items: center;
  }
}
.nav-punkt-st:hover {
  color: #404bbf;
}

.nav-punkt-st.current {
  color: #404bbf;
}

.ul-adress-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.adress-email {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-email:hover {
  color: #404bbf;
}

.adress-email:focus {
  color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .adress-email {
    margin-left: 121px;
  }
}

.mobile-menu-op-nav {
  width: 151px;
  height: 200px;
  /*display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;*/
  gap: 40px;
  margin-bottom: 168px;
}

@media only screen and (min-width: 1158px) {
  .ul-adress-box {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .adress-email {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.icon-solid-menu {
  display: block;
  fill: #2f2f37;
}

.main-styl {
  padding: 72px 52px 72px;
  width: 320px;
  margin-bottom: 168px;
  background-color: #5d5e71;
}

@media only screen and (min-width: 768px) {
  .main-styl {
    width: 780px;
    height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media only screen and (min-width: 1168px) {
  .main-styl {
    width: 1168px;
    height: 500px;
    background-size: 100%;
  }
}

.aa-aa {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-360.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .aa-aa {
    width: 100%;
    height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-768w.jpg);
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 768px) {
  .aa-aaa {
    width: 496px;
    height: 120px;
    margin-left: 136px;
    text-align: center;
    padding-top: 112px;
  }
}

.aa-ab {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 72px;
  padding-left: 52px;
  padding-right: 52px;
}

@media only screen and (min-width: 768px) {
  .aa-ab {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 112px;
  }
}

.aa-ac {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aa-ad {
  width: 169px;
  height: 56px;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-top: 72px;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .aa-ad {
   padding: 16px 32px;
   margin-top: 32px;
  }
}
.ba-aa {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media only screen and (min-width: 768px) {
  .baa-aa {
    display: flex;
    flex-wrap: wrap;
  }
}
.ba-aaa {
  width: 288px;
}
.ba-ac {
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .ba-ac {
    width: 356px;
    height: 120px;
    margin-left: 0;
  }
}
.ba-aca {
  margin-bottom: 0;
}
.ba-ad {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .ba-ad {
    text-align: left;
  }
}

.ba-ae {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: start;
}

@media only screen and (min-width: 768px) {
  .ba-ae {
    margin-left: 0;
    margin-right: 0;
  }
}

.ca-ab {
  background-color: #f4f4fd;
  background-color: #f4f4fd;

  padding-bottom: 64px;
}

@media only screen and (min-width: 768px) {
  .ca-ab {
    margin-top: 0;
    max-width: 736px;
  }
}

.ca-ac {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  justify-content: center;
  color: #2e2f42;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.ca-ad {
  height: 1928px;
  margin-top: 128px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .ca-ad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.ca-ae {
  background: #fff;
  margin-bottom: 72px;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
}

@media only screen and (min-width: 768px) {
  .ca-ae {
    margin: 0 12px 64px;
  }
}
.ca-aea {
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
}
.ca-af {
  display: flex;
  flex-direction: column;
  width: 264px;
  height: 104px;
  background: #fff;
  margin-bottom: 32px;
}

.ca-ag {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 32px;
}

.ca-ah {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.ca-aq {
  height: 40px;
  gap: 24px;
  display: flex;
  justify-content: flex-start;
  margin-left: 16px;
}

.ca-ai {
  width: 280px;
  height: 40px;
  gap: 40px;
  display: flex;
  justify-content: flex-start;
}

.ca-aj {
  width: 40px;
  height: 40px;
}

.ca-ak {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 8px;
}

.ca-ak-svg {
  fill: #f4f4fd;
}

.ca-ak:hover {
  background-color: #404bbf;
}

.ca-ak:focus {
  background-color: #404bbf;
}

.da-aa {
  padding-bottom: 32px;
}
.da-ab {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  white-space: nowrap;
  margin-top: 96px;
  margin-bottom: 72px;
  margin-left: 36px;
}

@media only screen and (min-width: 768px) {
  .da-ab {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .da-ac {
    display: flex;
    flex-flow: row wrap;
  }
}

.da-ad {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .da-ad {
    width: 356px;
    height: 420px;
  }
}

.da-ae {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.da-af {
  margin-left: 16px;
  padding-bottom: 32px;
}
.da-ag {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 32px;
}

.da-ah {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
@media only screen and (min-width: 768px) {
  .eaa-a {
    max-width: 736px;
    height: 456px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 92px 0 92px;
  }

  .ea-ac {
    align-self: flex-start;
  }
}
.ea-aa {
  background: #2e2f42;
}
.ea-ab {
  padding-top: 108px;
  padding-left: 1px;
  padding-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .ea-ab {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}
.ea-ac {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.ea-ad {
  color: #f4f4fd;
}
.ea-ae {
  margin-left: 16px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
@media only screen and (min-width: 768px) {
  .ea-ae {
    width: 264px;
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) {
  .eab-aa {
    margin-top: 96px;
  }
}

.ea-ag {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto 16px auto;
  width: 96px;
  height: 24px;
}
.ea-ah {
  width: 233px;
  height: 40px;
  gap: 24px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .ea-ah {
    margin-left: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .eaa-aj {
    display: flex;
    flex-wrap: nowrap;
  }
  .ea-ak {
    margin-right: 24px;
  }
}
.ea-aj {
  width: 75px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin: auto;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .ea-aj {
    margin-left: 0;
  }
}
.ea-ak {
  display: flex;
  gap: 24px;
}

.ea-al {
  margin: auto;
}

.ea-ao {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  margin-top: 16px;
}
@media only screen and (min-width: 768px) {
  .ea-ao {
    width: 264px;
  }
}
.ea-af {
  padding-top: 32px;
  padding-bottom: 84px;
  text-align: center;
}
.ea-am {
  width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-top: 16px;
  margin-left: 78px;
}
@media only screen and (min-width: 768px) {
  .ea-am {
    margin-left: 0;
  }
}
.ea-an {
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 587px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 33px 16px;
}

.modal-fa-aa {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-fa-aa:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-fa-aa:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-win-but-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-fa-ab {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
input.modal-fa-ac {
  width: 100%;
  height: 40px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #999;
  border-radius: 4px;
  font-size: 16px;
}
.modal-fa-ad {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-fa-ae {
  position: relative;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.modal-fa-af {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-fa-af:focus {
  border-color: #4d5ae5;
}

.modal-fa-af:focus + .modal-fa-af {
  fill: #4d5ae5;
}
.modal-fa-ag {
  margin-bottom: 8px;
}

.modal-fa-ah {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  margin-top: 8px;
}

.modal-fa-ai {
  position: relative;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.modal-fa-ak:focus {
  border-color: #4d5ae5;
}

.modal-fa-ak {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-fa-ak:focus + .modal-fa-ak {
  fill: #4d5ae5;
}

.modal-fa-am {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-fa-am:focus {
  border-color: #4d5ae5;
}

.modal-fa-an {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-top: 16px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
}
.modal-fa-ar {
  margin-left: 8px;
}
.visually-hidden:checked + .modal-fa-ao > .modal-fa-ap {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-fa-as {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
